@charset "utf-8";

body {
    width: 90%;
    max-width: 650px;
    margin: auto;
    font-family: 'Tenali Ramakrishna';
    color:whitesmoke;
    line-height: 1.3;
    background:url(../img/Mesa_DeD.jpeg);
    background-position: top center;
    text-align: justify;
}
/* margin = margem fora do objeto*/
main{
    background: #00000051;
    margin-top: 20px;
    border-radius: 12px;
}
/* padding = margem dentro do objeto*/
.logo{
    text-align: center;
    padding: 20px;
}
.title{
    padding-top: 25px; 
    text-align: center;
    margin: 0;
    font-family: 'Montaga';
    font-size: 30px;    
}
.sub-title{
    padding-top: 20px; 
    text-align: center;
    margin: 0;
    font-family: 'Montaga';
    font-size: medium;
}
.paragrafo{
    padding-top: 25px;
    text-align: center;
    font-size: 20px;
}
.translator {
    font-size: 25px;
    margin: 30px 0;
    text-align: center;
    width: 100%;
  }
  
.translator table {
    background: #2d334e91;
    border-radius: 30px;
    padding: 20px;
    margin:  auto;
  }
.obsText {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}  
textarea {
    width: 200px;
    right: 150px;
    resize: none;
    font-size: 22px;
  }
.botaotrt{
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}